.Image{
    margin-top: 1.5 rem;
    overflow: hidden;
    border-width: 1px;
    width: 100vw;
    height: 360px;
    object-fit: cover;
}
.Image img{
    display: block;
    width: 100vw;
    height: 360px;
}

.Body About{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    display:inline-block;
    margin-top: 32px;
    border-radius: .75rem;
    background-color: #B1103B;
    color: white;
    padding: 12px 16px 12px 16px;
    justify-content: center;
}
